//fonts
$lato: 'Lato';
$raleway: 'Raleway';
$sans: 'Source Sans Pro';

//brand colors
$black: #292929;
$dark-gray: #707070;
$light-gray: #00000029;
$dark-green: #414037;
$green: #47541C;
$green-1: #BFBF69;
$green-2: #8C8C4C;
$green-3: #f3f3eb;
$white: #FFFFFF;
$white-1: #FAFAFA;

//font-sizes
$large: 112px;
$medium: 40px;
$section-heading: 64px;
$sub-heading: 48px;
$regular: 30px;
$semi-medium: 32px;
$accent: 24px;